
.contentLeft_home {
    width: 9rem;
}

.devHome_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 93vw;
}

.devHome_icon {
    margin: 0 5px;
}

.devHome_body {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%);
}

.codeBlogs_  {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

.rohan_ {
    display: block;
    color: white;
    text-align: right;
    font-size: 13px;
}

.devHome_search {
    background-color: transparent;
    outline: none;
    font-size: 1.2rem;
    margin: 5px;
    background-color: transparent;
    padding: 8px;
    border: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    width: 35rem;
}

.fauser {
    color: white;
    font-size: 2.3rem;
    cursor: pointer;
}

.profile_image {
    border-radius: 50%;
    border: 1px solid black;
    height: 4rem;
    width: 4rem;
}

.profile_name {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.profile_email {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.devHome_profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 13rem;
}

.devHome_content {
    width: 80vw;
    min-height: 110vh;
    height: fit-content;
    margin: 4rem 4rem;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    border-radius: 2rem;
    display: flex;
}

.noContent {
    color: white;
    z-index: 99999;
    padding-top: 8rem;
    width: 60vw;
    text-align: center;
    font-size: 4.5rem;
}

.left_btn {
    width: 7rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.contentBlogs_flexBody {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.sad {
    font-size: 3.2rem;
} 

@media only screen and (min-width: 300px) and (max-width: 480px) {
.devHome_body {
    padding: 1rem;
}

.devHome_nav {
    width: 100vw;
}
.devHome_icon {
    display: none;
}

.devHome_search {
    font-size: 10px;
    margin: 3px;
    border: 1px solid rgb(255, 255, 255);
    width: 10rem;
    border-radius: 5px;
}

.devHome_profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-right: 8px;
}

.fauser {
    color: white;
    font-size: 2rem;
    margin-right: 5px;
}

.profile_name {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

.profile_email {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}


.devHome_content {
    width: 80vw;
    height: fit-content;
    display: block;
}

.noContent {
    color: white;
    z-index: 99999;
    padding-top: 8rem;
    width: 65vw;
    text-align: center;
    font-size: 3rem;
}

.left_btn {
    width: 7rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.contentBlogs_flexBody {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.sad {
    font-size: 3.2rem;
} 

}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .devHome_body {
        padding: 1rem;
    }
    
    .devHome_nav {
        width: 100vw;
        justify-content: space-between;
    }
    .devHome_icon {
        display: block;
        margin: 0 12.5px;
    }

    .codeBlogs_  {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    .rohan_ {
        display: none;
    }
    
    .devHome_search {
        font-size: 10px;
        margin-right: 12.5px;
        border: 1px solid white;
        width: 10rem;
        border-radius: 5px;
    }
    
    .devHome_profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 2rem;
        margin-right: 8px;
    }
    
    .fauser {
        color: white;
        font-size: 2rem;
        margin-right: 5px;
    }
    
    .profile_name {
        color: white;
        font-size: 1.5rem;
        font-weight: bolder;
    }
    
    .profile_email {
        color: white;
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    
    .devHome_content {
        width: 80vw;
        min-height: 110vh;
        display: block;
    }
    
    .noContent {
        color: white;
        z-index: 99999;
        padding-top: 8rem;
        width: 60rem;
        text-align: center;
        font-size: 4rem;
    }
    
    .left_btn {
        width: 7rem;
        height: 3rem;
        color: white;
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
    
    .contentBlogs_flexBody {
        display: flex;
        flex-wrap: wrap;
        margin-left: 2rem;
    }
    
    .sad {
        font-size: 3.2rem;
    } 
    }

    @media only screen and (min-width: 769px) and (max-width: 1023px) {
        .devHome_body {
            padding: 1rem;
        }
        
        .devHome_nav {
            width: 100vw;
            justify-content: space-between;
        }
        .devHome_icon {
            display: block;
            margin: 0 25px;
        }
    
        .codeBlogs_  {
            font-size: 30px;
            font-weight: 600;
            color: white;
        }
    
        .rohan_ {
            display: block;
            color: white;
            text-align: right;
            font-size: 10px;
        }
        
        .devHome_search {
            font-size: 10px;
            margin: 3px;
            border: 1px solid white;
            width: 14rem;
            border-radius: 5px;
        }
        
        .devHome_profile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 2rem;
            margin-right: 8px;
        }
        
        .fauser {
            color: white;
            font-size: 2rem;
            margin-right: 5px;
        }
        
        .profile_name {
            color: white;
            font-size: 1.5rem;
            font-weight: bolder;
        }
        
        .profile_email {
            color: white;
            font-size: 12px;
            letter-spacing: 1px;
        }
        
        
        .devHome_content {
            width: 80vw;
            min-height: 110vh;
        }
        
        .noContent {
            padding-top: 8rem;
            text-align: center;
            font-size: 3.5rem;
        }
        
        .left_btn {
            width: 7rem;
            height: 3rem;
            color: white;
            display: flex;
            align-items: center;
            padding: 0 1rem;
        }
        
        .contentBlogs_flexBody {
            display: flex;
            flex-wrap: wrap;
            margin-left: 2rem;
        }
        
        .sad {
            font-size: 3.2rem;
        } 
    }